---
import GitHub from "./icons/GitHub.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import HTML from "./icons/HTML.astro"
import CSS from "./icons/CSS.astro"
import JavaScript from "./icons/Javascript.astro"
import ReactJS from "./icons/ReactJS.astro"
import MySQL from "./icons/MySQL.astro"
import MongoDB from "./icons/MongoDB.astro"
import NodeJS from "./icons/NodeJS.astro"
import Express from "./icons/Express.astro"
import ChakraUI from "./icons/ChakraUI.astro"
import Bootstrap from "./icons/Bootstrap.astro"
import Firebase from "./icons/Firebase.astro"

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#FF0000]/40 text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#663399]/60 text-white",
    icon: CSS,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-300/70 text-white",
    icon: JavaScript,
  },
  REACTJS: {
    name: "ReactJS",
    class: "bg-[#61dbfb]/40 text-white",
    icon: ReactJS,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#00758f]/30 text-white",
    icon: MySQL,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-black text-white",
    icon: MongoDB,
  },
  NODEJS: {
    name: "NodeJS",
    class: "bg-black text-white",
    icon: NodeJS,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-black text-white",
    icon: Express,
  },
  CHAKRAUI: {
    name: "ChakraUI",
    class: "bg-teal-600/60 text-white",
    icon: ChakraUI,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-purple-700/30 text-white",
    icon: Bootstrap,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#FFCB2B]/70 text-white",
    icon: Firebase,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
//      Proyecto actual no finalizado
//     {
//     title: "",
//     description:
//       "",
//     link: "",
//     github: "https://github.com/EmilianoCiurcilo/Backend-I",
//     image: "../../public/images/",
//     tags: [TAGS.MONGODB, TAGS.EXPRESS, TAGS.REACTJS, TAGS.NODEJS, TAGS.TAILWIND],
//   },
  {
    title: "DEMTECH - Venta de Hardware de PC",
    description:
      "Esta Aplicacion creada con MySQL Workbench simula llevar a cabo el control de los datos de nuestros clientes, proveedores, productos, sus categorias y marcas, su stock y un mayor control sobre nuestras ventas. La imagen adjunta es el DER real del proyecto.",
    link: "https://github.com/EmilianoCiurcilo/Proyecto_SQL/blob/main/README.md",
    github: "https://github.com/EmilianoCiurcilo/Proyecto_SQL",
    image: "/public/images/DER.webp",
    tags: [TAGS.MYSQL],
  },
  {
    title: "DemTech - Venta de Perifericos de PC",
    description:
      "Aplicacion creada con ReactJS, ChakraUI y Firebase. Simula un e-commerce funcional con carrito, filtro por categorias, base de datos y seccion para finalizar una compra.",
    link: "https://react-ashen-six.vercel.app/",
    github: "https://github.com/EmilianoCiurcilo/Proyecto_ReactJS",
    image: "/public/images/react.webp",
    tags: [TAGS.REACTJS, TAGS.CHAKRAUI, TAGS.FIREBASE],
  },
  {
    title: "FrutiFitMix - Emprendimiento de Frutos Secos",
    description:
      "Creada desde cero con Javascript vanilla. Simula un e-commerce funcional con buscador y carrito para finalizar una compra.",
    link: "https://javascript-chi-drab.vercel.app/",
    github: "https://github.com/EmilianoCiurcilo/Proyecto_JavaScript",
    image: "/public/images/javascript.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.TAILWIND],
  },
  {
    title: "DEMTECH - Venta de Productos de PC y PC armadas",
    description:
      "Plataforma creada con HTML, CSS, JavaScript y Bootstrap. Simula un e-commerce con carrito, buscador, menu desplegable y un formulario para solicitar ayuda.",
    link: "https://html-css-js-gold.vercel.app/",
    github: "https://github.com/EmilianoCiurcilo/Proyecto_HTML-CSS-JS",
    image: "/public/images/html-css.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.BOOTSTRAP],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Proyecto Emiliano Ciurcilo Portfolio" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100 text-pretty">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>